@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 14%;
    margin-right: 6%;
    height: 50vh;
    margin-top: 150px;
}

.intro_words {
    width: 80%;
    box-sizing:border-box;
    text-align:left;
}

.i_w_black_t {
    font-family:'Inter',sans-serif;
    font-size: 3.0em;
    font-weight: bolder;
}
.i_w_black_w {
    margin-top: 10px;
    font-family:'Inter',sans-serif;
    font-size: 2.0em;
    font-weight: bolder;
}


.blue {
    color: rgb(1,158,213)
}

img.i_img {
    max-width: 350px;
    width: 90%;
    height: auto;
}

.pic-box {
    width: 80%;
    display: flex; /* 将div元素设置为flex容器 */
    justify-content: center; /* 水平居中div中的内容 */
    align-items: center; /* 垂直居中div中的内容 */
    text-align: center;
}